/* 全体設定 */
body{
  background: #6a6a60;
  font-size: 15.5px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

/* 幅を広げ，current sectionも調整 */
.wrapper{
  width: 50%;
}
.current-section{
  width: 50%;
  left: 24.7%;
  margin-left: 0%;
}

/* タイトルがデフォルト60pxは大きすぎるかな */
h1.title{
  font-size: 40px;
}

/* メインセクション */
#main{
  background-color: #f6f6f6;
}

/* その他基本設定 */
a{
  color: #172;
}
a:hover{
  color: #50a335;
}
ul > li > ul > li{
  list-style-type: circle;
}
ul > li > ul > li > ul > li{
  list-style-type: square;
}


/* コード部分 #3b3b3b; color: #d6d6d6;*/

code, pre{
  font-family: 'Source Han Code JP', 'Cica', 'Lucida Console', 'Terminal', 'Colsolas', monospace;
  background-color: rgba(27,31,35,0.10);
}

.markdown-body pre{
  font-family: 'Source Han Code JP', 'Cica', 'Lucida Console', 'Terminal', 'Colsolas', monospace;
  padding: 10px 70px 10px 10px;
}
/* コード行数を表示しない */
.markdown-body pre.lines{
  display: none;
}


/* download-bar */
.download-bar a{
  color: #4EA;
}

/* footer */
footer div.owner a{
  color: #4EA;
}

footer div.creds a{
  color: #7FF;
}


/* details & summary*/
summary {
  display: initial;
  cursor: pointer;
  transition: 0.2s;
}
summary:hover {
  display: initial;
  cursor: pointer;
  background-color: #EFEFEF;
}
/* ▲を+-にする */
details summary::before {
  font-family: FontAwesome;
  content: '\f067';
  margin-right: 20px;
}

details[open] summary::before {
  content: '\f068';
}